<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulo%></title>
    <%- include('partials/head')%>
</head>
<body>
    <%- include('partials/navigation')%>   
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <div class="">
            <h1 class="display-1">About</h1>
            <p class="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit accusantium rem, soluta in qui cumque delectus iusto aut, officiis quidem pariatur laboriosam optio magnam asperiores dolores corporis omnis dolorum vero placeat, earum est officia libero aliquid minus. Voluptas doloribus nesciunt vel velit commodi enim nostrum repudiandae ipsam iure nam! Impedit repudiandae atque deserunt ipsum magni aliquid corporis expedita quod porro dicta! Sapiente accusamus, distinctio laudantium vel neque fuga libero quam molestias, qui incidunt voluptatibus eveniet exercitationem sunt, inventore esse officiis sed placeat. Cupiditate eos reprehenderit similique soluta laborum laudantium aliquam tenetur alias dolorem, sed quidem, neque necessitatibus ipsa ab quia commodi. Odit eligendi temporibus eius possimus ex nam nisi voluptate, facilis reprehenderit odio atque, magni qui blanditiis sequi architecto. Quas, labore? Accusantium libero magni ipsum beatae ipsam. Doloribus magni doloremque, itaque nemo iusto pariatur impedit. Iusto nemo totam quisquam officiis? Veniam dolore repellendus eligendi ipsum assumenda ex illo a corrupti modi. Officia excepturi modi optio dolor error omnis veniam consequatur impedit quasi ratione nesciunt quidem rem, perspiciatis in eaque quos porro laboriosam recusandae consequuntur repudiandae tempore, eius accusantium corporis! Iure amet, inventore quaerat necessitatibus nostrum quia ducimus temporibus. Aut tempora, amet nam facere omnis labore repellat aliquid, tempore officia quod corporis ullam quidem saepe quaerat suscipit repudiandae consequuntur ipsa magnam blanditiis, ea praesentium consequatur incidunt recusandae. Optio repellendus sit delectus quam molestias enim. Fugit magnam sequi enim reiciendis et ad sed tenetur aliquid fugiat nam. Consequatur at sed, maiores expedita dicta dolorum cumque nesciunt aperiam quas unde laboriosam corrupti earum architecto illum voluptatum ducimus aspernatur similique necessitatibus quidem tempore adipisci totam, perferendis mollitia. Saepe expedita earum commodi sunt, molestiae laborum exercitationem nostrum architecto modi aspernatur ut libero sequi quisquam necessitatibus ad deserunt est harum odio odit. Enim incidunt iure at eligendi repellendus, consequatur facere quia, magnam officia nobis deserunt voluptatum.
            </p>
        </div>
    </main>
    <%- include('partials/footer')%>
</body>
</html>