<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulo%></title>
    <%- include('partials/head')%>
</head>
<body>
    <%- include('partials/navigation') %>
    <div class="container vh-100 d-flex justify-content-center align-items-center flex-column">
        <img src="/img/1280px-Node.js_logo.svg.png" alt="imagen_node" class="w-25">
        <h1 class="display-6 my-5 fw-bold">Sitio realizado desde NodeJS</h1>
        <a href="/about" class="btn btn-info w-25" >About</a>
    </div>
    <%- include('partials/footer')%>
</body>
</html>